# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/temp/
data/processed/
data/output/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

